@theme {
  --color-brand-50: #eeedfd;
  --color-brand-100: #cac6f9;
  --color-brand-200: #b1aaf6;
  --color-brand-300: #8d84f2;
  --color-brand-400: #776cf7;
  --color-brand-500: #5547eb;
  --color-brand-600: #4d41d6;
  --color-brand-700: #3c32a7;
  --color-brand-800: #2f2781;
  --color-brand-900: #241e63;

  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #b1b9c1;
  --color-grey-400: #a1acb5;
  --color-grey-500: #6c737f;
  --color-grey-600: #4d5761;
  --color-grey-700: #384250;
  --color-grey-800: #1f2a37;
  --color-grey-900: #111927;
}