@import "tailwindcss";
@import "./typography.css";
@import "./colors.css";

@theme {
  --font-sans: var(--font-space-grotesk), ui-sans-serif, system-ui;
}

body {
  font-family: var(--font-space-grotesk), ui-sans-serif, system-ui;
  background-color: var(--color-grey-100);
  color: var(--color-grey-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
